.toolbar,
.listItemIcon,
.logoutModal,
.btn-grad,
.btn-grad:hover {
  color: white;
}


.navbar {
  background-color: #eff2f7;
  height: 60px;
  min-width: 100%;
  display: flex;
  justify-content: start;
  transition: 400ms;
}
.dashboardHeading{
  display: flex;
  flex-direction:column;
  align-items:center ;
  border-radius: 0rem 0rem .8rem .8rem;
  border-bottom: 1px solid #778996;
  justify-content:space-evenly;
  align-items: center;
  width:250px;
  margin-bottom: 4rem;
}

.nav-menu {
  background-color: rgb(234, 252, 255);
  width: 250px;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
  transition: 750ms;
  /* box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);  */

}

.unDockedSideNav{
  background-color: rgb(234, 252, 255);
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0px;
  z-index: 100;
  transition: 400ms;


}
.undockedNavBar{
  height: 0px;
  width: 0px;
}
.nav-menu.active {
  left: 0;
  transition: 250ms;
}
.closeSideNavIconDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  padding-top: 1rem;
}

.sideNavSections {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
  height: 1.5rem;
  align-items: center;
  padding: 0.2rem;
  border-radius:.4rem;
  padding-left: 1rem;
}

#nav-menu-items {
width: 100%;
padding-left: 1rem;
font-size: 1rem;
font-weight: 600;

}
#nav-menu-items:hover{
  
     color: white !important;
     transition: 300ms;
}

@media screen and (max-width:1274px) {
  .nav-menu.active {
    left: -100%;
    transition: 600ms;
    background-color: aqua;
  }
}
@media screen and (min-width:1274px) {
  .closeSideNavIconDiv,#closeNavIcon{
    width: 0px;
    height: 0px;
  }

  .navbar{
    height: 0px;
    width: 0px;
    transition: 400ms;
  }
}

/* -------------------------- */


.btn-grad {
  background-image: linear-gradient(
    to right,
    rgb(16, 139, 184) 0%,
    rgb(1, 93, 97) 51%,
    rgb(24, 206, 143) 100%
  );
}
.btn-grad {
  height: 2.3rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  margin: 3rem 1rem 1rem 1rem;
  border-radius: 5px;
}

.btn-grad:hover {
  background-position: right center;
  text-decoration: none;
}
